<div>
   
    <article>
        <img  />

        <div>
            <h2>Lorem Ipsum Dolor Sit Amet</h2>
            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adisciping Elit Sed Do Eiusmod Tempor Incididunt</p>

            <button>Add To Cart ></button>
        </div>
    </article>


    <article>
        <img  />

        <div>
            <h2>Lorem Ipsum Dolor Sit Amet</h2>
            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adisciping Elit Sed Do Eiusmod Tempor Incididunt</p>

            <button>Add To Cart ></button>
        </div>
    </article>


    <article>
        <img  />

        <div>
            <h2>Lorem Ipsum Dolor Sit Amet</h2>
            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adisciping Elit Sed Do Eiusmod Tempor Incididunt</p>

            <button>Add To Cart ></button>
        </div>
    </article>

    <article>
        <img  />

        <div>
            <h2>Lorem Ipsum Dolor Sit Amet</h2>
            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adisciping Elit Sed Do Eiusmod Tempor Incididunt</p>

            <button>Add To Cart ></button>
        </div>
    </article>

    <article>
        <img  />

        <div>
            <h2>Lorem Ipsum Dolor Sit Amet</h2>
            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adisciping Elit Sed Do Eiusmod Tempor Incididunt</p>

            <button>Add To Cart ></button>
        </div>
    </article>

</div>
