<div class="faces">

    
    <div>
        <img src="facePicOne.png" />
        <h3>Lorem Ipsum Dolor Sit Amet</h3>
        <button>Read More ></button>
    </div>

    <div>
        <img src="facePictwo.png" />
        <h3>Lorem Ipsum Dolor Sit Amet</h3>
        <button>Read More ></button>
    </div>

    <div>
        <img src="facePicthree.png" />
        <h3>Lorem Ipsum Dolor Sit Amet</h3>
        <button>Read More ></button>
    </div>

    <div>
        <img src="facePicOne.png" />
        <h3>Lorem Ipsum Dolor Sit Amet</h3>
        <button>Read More ></button>
    </div>

    <div>
        <img src="facePictwo.png" />
        <h3>Lorem Ipsum Dolor Sit Amet</h3>
        <button>Read More ></button>
    </div>

    <div>
        <img src="facePicthree.png" />
        <h3>Lorem Ipsum Dolor Sit Amet</h3>
        <button>Read More ></button>
    </div>
    
</div>