.category{
    border: 3px solid white;
    text-align: center;
}

.category h1{
    color: #BF6159;
}

.category .slider{

    display: flex;
    justify-content: center;
    gap: 30px;
}

.category .slider .skin{
    text-align: center;
}

.category .slider .skin img{
    width: 210px;
    height: 150px;
    
}


.category  .categoryType{
  display: flex;
  justify-content: center;
  gap: 30px;
} 

.category .categoryType div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category .categoryType div img{
    width: 150px;
    height: 150px;
    text-align: center;
}

.category  .categoryMenu{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
















