<div class="category">
    <h1>Shop by Skincare products</h1>
    
    <div class="slider">


        <div class="skin">
            <img src="AngularMarketCategory.png" />
            <h3>Ubtan Facial</h3>
             <p>Buy Now</p>
        </div>

        <div class="skin">
            <img src="AngularMarketCategory.png" />
            <h3>Ubtan Facial</h3>
             <p>Buy Now</p>
        </div>

        <div class="skin">
            <img src="AngularMarketCategory.png" />
            <h3>Brightening Facial</h3>
             <p>Buy Now</p>
        </div>

        <div class="skin">
            <img src="AngularMarketCategory.png" />
            <h3>Night Beauty</h3>
             <p>Buy Now</p>
        </div>

        <div class="skin">
            <img src="AngularMarketCategory.png" />
            <h3>Facial Mask</h3>
             <p>Buy Now</p>
        </div>
    </div>


    <h1>Shop by Categories</h1>
    
    
    <div class="categoryType">

        <div>
            <img src="AngularMarktingtype.png" />
            <p>Cleansers</p>
        </div>
        
    
        <div>
            <img src="AngularMarketingtype1.png" />
            <p>Toners</p>
        </div>
        
        
        <div>
            <img src="typ2.png" />
            <p>Serums</p>
        </div>
        
        
        <div>
            <img src="type3.png" />
            <p>Moisturizer</p>
        </div>
        
        
        <div>
            <img src="type4.png" />
            <p>Acne Treatment</p>
    </div>
    
    
    <div>
        <img src="type5.png" />
        <p>Sun screen</p>
    </div>

</div>

<div class="categoryMenu">
 <app-category-card />
 <app-category-card />
 <app-category-card />
 <app-category-card />
 <app-category-card />
 <app-category-card />
</div>

</div>

