<div class="review">
      
    <h1>Lorem Ipsum Dolor Sit Amet</h1>
    
    <div>

        <div>
            <span class="redCircle"></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ut omnis iste laudantium illum unde quia esse accusantium 
                exercitationem, minus nisi ullam aliquam expedita ab sequi.</p>
            </div>
            
            <div>
                <span class="redCircle"></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ut omnis iste laudantium illum unde quia esse accusantium 
            exercitationem, minus nisi ullam aliquam expedita ab sequi.</p>
    </div>
    
    <div>
        <span class="redCircle"></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ut omnis iste laudantium illum unde quia esse accusantium 
            exercitationem, minus nisi ullam aliquam expedita ab sequi.</p>
        </div>
        
        <div>
            <span class="redCircle"></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ut omnis iste laudantium illum unde quia esse accusantium 
                exercitationem, minus nisi ullam aliquam expedita ab sequi.</p>
            </div>
            
        </div>
    
    <div>
        <img src="" />

        <div>
            <h1>Lorem Ipsum Dolor Sit Amet</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Non, animi! Voluptatum officia quae magnam inventore autem sunt ipsa 
            dolorum culpa at quo consequuntur itaque saepe error ab natus porro, 
            maiores voluptates? Cum quam explicabo odio provident sit quibusdam, 
            autem itaque dignissimos exercitationem fuga, debitis voluptas in iste ex qui quisquam.</p>
        </div>
    </div>
    

    <div>
        
        <div>
            <h1>Lorem Ipsum Dolor Sit Amet</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Non, animi! Voluptatum officia quae magnam inventore autem sunt ipsa 
                dolorum culpa at quo consequuntur itaque saepe error ab natus porro, 
                maiores voluptates? Cum quam explicabo odio provident sit quibusdam, 
                autem itaque dignissimos exercitationem fuga, debitis voluptas in iste ex qui quisquam.</p>
            </div>
            <img src="" />
    </div>


    <div class="reviewMenu">
       <div>
         <img src="" />
         <h4>Lorem Ipsum Dolor Sit Amet</h4>
         <p>03/12/12</p>
         <button>Read More > </button>
       </div>

       <div>
        <img src="" />
        <h4>Lorem Ipsum Dolor Sit Amet</h4>
        <p>03/12/12</p>
        <button>Read More > </button>
      </div>

      <div>
        <img src="" />
        <h4>Lorem Ipsum Dolor Sit Amet</h4>
        <p>03/12/12</p>
        <button>Read More > </button>
      </div>

      <div>
        <img src="" />
        <h4>Lorem Ipsum Dolor Sit Amet</h4>
        <p>03/12/12</p>
        <button>Read More > </button>
      </div>
    </div>

    <div>
        <img src="" />
        <h4>Lorem Ipsum Dolor Sit Amet</h4>
        <p>03/12/12</p>
        <button>Read More > </button>
      </div>

    </div>
        